* {
  padding: 0;
  margin: 0;
  color: rgba(255, 255, 255, 0.87);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #242424;
  box-sizing: border-box;
}

h1 {
  margin: 5px;
}

.layout {
  display: flex;
  flex-direction: column;
}

.layout__content {
  display: flex;
  min-height: calc(100vh - 20px - 70px);
  gap: 5px;
  margin: 10px
}

.titulo {
  display: inline;
  text-align: center;
  margin-top: 10px;
}

.container {
  border: 1px solid white;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
}
